{% extends 'pages/base.jinja' %}

{% block header %}

    <a role="button" href="/home">Back</a>

{% endblock %}


{% block content %}

    <article>

        <header>
            <h2>Create group</h2>
        </header>

        <form action="/create-group" method="POST">

            <input
                type="text"
                name="name"
                placeholder="Name"
                required
            >

            <button>Create</button>

        </form>

    </article>

{% endblock %}

