{% extends 'pages/base.jinja' %}


{% block content %}
    <div class="form">
        <article>

            <header>
                <h2>Create event</h2>
            </header>

            <form action="/group/{{group_id}}/newevent" method="POST">

                <label>
                    Name
                    <input
                        type="text"
                        name="name"
                        placeholder="Name"
                        required
                    >
                </label>

                <label>
                    Date
                    <input 
                        type="date" 
                        name="date" 
                        min="{{ today }}"
                        aria-label="Date"
                    >
                </label>

                <label>
                    Description
                    <input
                        type="text"
                        name="description"
                        placeholder="Description"
                    >
                </label>          

                </fieldset>

                <button>Create</button>

            </form>

        </article>
    </div>
{% endblock %}