{% extends 'pages/base.jinja' %}


{% block title %}

    {{ event.name }} details

{% endblock %}


{% block content %}

  <h1>{{ event.name }} details</h1>
  <div class="description">
    <article>
      <ul>
        <li>{{ event.description }}</li>   
      </ul>
    </article>
  </div>


{% endblock %}