{% extends 'pages/base.jinja' %}


{% block content %}

    <article>

        <header>
            <h2>Create event</h2>
        </header>

        <form action="/group/{{group_id}}/newevent" method="POST">

            <label>
                Name
                <input
                    type="text"
                    name="name"
                    placeholder="Name"
                    required
                >
            </label>

            <input 
                type="date" 
                name="date" 
                min="{{ today }}"
                aria-label="Date"
            >

            <input
                type="text"
                name="description"
                placeholder="Description"
            >

            <input
                type="text"
                name="question"
                placeholder="Question"   
            >

            <fieldset>
                <legend>Voting Options</legend>
                
                <input
                    type="text"
                    name="option_1"
                    placeholder="Option 1"
                >

                <input
                    type="text"
                    name="option_2"
                    placeholder="Option 2"
                >

                <input
                    type="text"
                    name="option_3"
                    placeholder="Option 3"
                >

                <input
                    type="text"
                    name="option_4"
                    placeholder="Option 4"
                >

                <input
                    type="text"
                    name="option_5"
                    placeholder="Option 5"
                >
            </fieldset>

            <button>Create</button>

        </form>

    </article>

{% endblock %}