{% extends 'pages/base.jinja' %}


{% block title %}

    {{ event.name }} details

{% endblock %}


{% block content %}

  <h1>{{ event.name }}</h1>

  <article>
    <ul>
      <li>Description: {{ event.description }}</li>   
    </ul>
  </article>


{% endblock %}