{#=====================================================
  Thing page
  - Shows details of a single thing
  - Has a delete link to remove it
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Events for Group {{ group.name }}

{% endblock %}


{% block content %}

  <article>

    <h1>Group {{ group.name }}</h1>

    <table>
        <thead>
            <tr>
                <th>Event</th>
                <th>Date</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
        {% for event in events %}

            <tr>
                <td><strong>{{ event.name }}</strong></td>
                <td>{{ event.date }}</td>
                <td><a href="#" role="button">View</a>
            </tr>

        {% else %}

            <p>None!</p>

        {% endfor %}
        </tbody>
    </table>

  </article>


    <a role="button" href="/">Back to groups</a>

{% endblock %}