{% extends 'pages/base.jinja' %}

{% block content %}
    <div class="join-group">
        <article>

                <header>
                    <h2>Join a group</h2>
                </header>

                <form action="/join-user" method="POST">

                    <input
                        type="text"
                        name="code"
                        placeholder="Group code"
                        required
                    >

                    <button>Join</button>

                </form>
        </article>
    </div>
{% endblock %}
