{#=====================================================
  Thing page
  - Shows details of a single thing
  - Has a delete link to remove it
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Events for Group {{ group.name }}

{% endblock %}

{% block menu %}

    <label role="button" for="menu_toggle">&#9776;</label>
    <input id="menu_toggle" type="checkbox">

    <ul class="nav-panel">
    
      <li><label for="menu_toggle">&#10005;</label></li>
      <li><a href="/group/new" class="menu">Create</a></li>
      <li><a href="/group/join" class="menu">Join</a></li>
      {% if session.user_id == group.owner %}
        <li><a href="/group/{{ group.id }}/newevent" class="menu">Create Event</a></li>

      {% else %}

      {% endif %}
      
      {% if session.user_id %}
        <li><a href="/logout">Logout</a></li>

      {% else %}
      
      {% endif %}

    </ul>

{% endblock %}


{% block content %}

  <article>

    <header>
      <h1>Group {{ group.name }}</h1>

      <div class="filter">
        <a href="/group/{{ group.id }}?sort=date" role="button">Soon</a>   
        <a href="/group/{{ group.id }}?sort=recent" role="button">Recent</a>
        <a href="/group/{{ group.id }}" role="button">Clear</a>
      </div>

    </header>

    <table>
        <thead>
            <tr>
                <th>Event</th>
                <th>Date</th>
                <th></th>
                <th></th>
            </tr>
        </thead>

        <tbody>
        

        {% for event in events %}

            <tr>
                <td><strong>{{ event.name }}</strong></td>
                <td>{{ event.date }}</td>
                {% if event.description %}
                  <td><a href="/event/{{ event.id }}" class="view-button" role="button">View</a>
                {% else %}
                  <td></td>  {# keeps table structure clean #}
                {% endif %}

                {% if session["user_id"] == group.owner %}
                  <td><a href="/delete/event/{{ event.id }}" class="delete">🗑</a></td>
                {% endif %}
            </tr>

        {% else %}

            <p>None!</p>

        {% endfor %}
        </tbody>
    </table>

  </article>

{% endblock %}