{% extends 'pages/base.jinja' %}

{% block content %}

    <article>

        <header>
            <h2>Join a group</h2>
        </header>

        <form action="/group/join" method="POST">

            <input
                type="text"
                name="group code"
                placeholder="Group code"
                required
            >

            <button>Join</button>

        </form>

    </article>

{% endblock %}
