{#=====================================================
  Home page
  - Hero style greeting banner
  - List of things passed in as 'things' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Flask Demo

{% endblock %}

{% block menu %}

  <ul>

    <li><a href="\create-group-form" class="menu">Create</a></li>
    <li><a href="\join-group-form" class="menu">Join</a></li>

    {% if session.user_id %}
      <li><a href="/logout">Logout</a></li>

    {% else %}
     
    {% endif %}

  </ul>

{% endblock %}

{% block content %}

  <h1><strong>Welcome, {{ session.user_name }}</strong></h1>

  <article>

        <ul>
            {% for group in groups %}

                <li>
                    <a href="/events/{{ group.id }}" role="button">
                        <strong>{{ group.name }}</strong>
                    </a>
                </li>

            {% else %}

                <p>None!</p>

            {% endfor %}
        </ul>

  </article>

{% endblock %}

