{#=====================================================
  Home page
  - Hero style greeting banner
  - List of things passed in as 'things' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Flask Demo

{% endblock %}

{% block menu %}

  <ul>
    <li><a href="\create_group" class="menu">Create</a></li>
    <li><a href="\join_group" class="menu">Join</a></li>

    {% if session.user_id %}
      <li><a href="/logout">Logout</a></li>

    {% else %}
     
    {% endif %}
  </ul>

{% endblock %}



{% block content %}

  <strong>Welcome, {{ session.user_name }}</strong>




{% endblock %}

