{#=====================================================
  Home page
  - Hero style greeting banner
  - List of things passed in as 'things' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Flask Demo

{% endblock %}

{% block content %}

    <article>

        <header>
            <h2>Login</h2>
        </header>

        <form action="/login-user" method="POST">

            <input
                type="text"
                name="username"
                placeholder="Username"
                required
            >

            <input
                type="password"
                name="password"
                placeholder="Password"
                required
            >

            <button>Log in</button>

        </form>

    </article>


    Or <a href="/sign-up" role="button">Sign-up</a>

{% endblock %}

