/*=====================================================
  User stylesheet - Building upon PicoCSS
=====================================================*/


/* MESSAGES -------------------------------------------- */


#messages ul {
    width: fit-content;
    margin: 2rem auto;
    padding: 0;
}

#messages .message {
    list-style: none;
    text-align: center;
    margin-bottom: 1rem;
}

#messages .message.success { color: var(--pico-color-green-500); }
#messages .message.error   { color: var(--pico-color-red-500); }

/* HEADER -------------------------------------------- */

body > header {
    border-bottom: 1px solid #000;
    background-color: rgb(255, 255, 255);
    border-color: grey;
    position: sticky;
    top:0;
    z-index: 99999;
}

body > header [role="button"] {
    padding: 0.25rem 0.5rem;
    background-color: rgb(43, 147, 165) ;
    border: none;
}


body{
    background-color: #fdfae4;
    min-height: 100vh;
}

/* MENU -------------------------------------------- */

#planner {
    color:rgba(37, 97, 110, 1);
}

body > header > nav h1 {
    font-size: 1.5rem;
    margin: 0;
    padding-left: 2rem;
}

body > header > nav {
    align-items: center;
    padding-right: 2rem;
}

body > header > nav > ul.nav-panel {
    display: none;
}

body > header > nav input:checked ~ ul.nav-panel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 10rem;
    background-color: #ddd;
    padding: 1rem;
    box-shadow: 0 0 2rem #0008;
    z-index: 9999;
}

body > header > nav input:checked ~ ul.nav-panel li {
    padding: 0;
    width: 100%;
}

body > header > nav input {
    display: none;           /* Hide the checkbox */
}

h1 {
    font-size: 32px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: rgba(37, 97, 110, 1);
}

/* HOMEPAGE DISPLAY -------------------------------------------- */


.group li {
    list-style: none;
    display: flex;     
    align-items: center; 
    width: 85%;
    height: 4rem;
    padding: 0.4rem;
    margin: 1rem;
    border: 2px solid rgba(195, 229, 239, 1);
    background-color: rgba(195, 229, 239, 1);
    border-radius: 8px;
    position: relative; 
}

.group li .group-button{
    font-size: 22px;
    background-color: rgba(195, 229, 239, 1);
    color: rgba(37, 97, 110, 1);
    border: none;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 100%;
    text-align: left;
}

.group li .group-button p{
    color: rgba(37, 97, 110, 1);
}

.group li a.delete {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 0.8rem;
}

.group ul{
    padding: 0;
}


/* FORM -------------------------------------------- */
.form{
    display: flex;
    justify-content: center;
    padding: 3rem;
    border-radius: 5rem;   
}

.form article{
    background-color: rgba(195, 229, 239, 1);
}

.form form{
    background-color: rgba(195, 229, 239, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 700px; 
    padding: 1.5rem 2rem;
    border-radius: 10px;
}

.form h2 {
    font-size: 24px;
    text-align: center;
    margin-top: 0.75rem;
    color: rgba(37, 97, 110, 1);
}

.form input{
    width: 100%;
    border-radius: 10px;
    padding: 1rem;

}

.form button{
    width: 100%;
    background-color: rgba(37, 97, 110, 1);
    margin-bottom: 0.5rem;
}

.form a{
    width: 100%;
    margin-top: 0.5rem;
}

/* EVENT PAGE -------------------------------------------- */

article header {
    text-align: center;
}

article header > * {
    margin: 0;
}

article header.filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem 3rem;
}

.filter {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}

.filter a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 2rem;
    font-size: 0.9rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    text-decoration: none;
    color: #333;
    background-color: #f8f8f8;

}

.view-button{
    background-color: #25616E;
    color: white;
    border: none;
    height: 2rem;
    padding: 4px 15px;

}

/* EVENT DETAILS PAGE -------------------------------------------- */
.description li{
    list-style: none;
    display: flex;
    align-items: left;
}

.description ul{
    padding: 0;
    margin: 0;
}

